<header class="bg-white w-full px-9 py-3 max-md:px-5">
  <div class="gap-4 flex h-20 max-md:flex-col max-md:items-stretch">
    <!-- Navigation Section -->
    <div class="w-[34%] max-md:w-full flex">
      <nav
        class="flex items-center gap-5 text-lg text-[rgba(160,168,177,1)] font-small justify-between"
      >
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/eb0942dda2f19dc86496d75cc5a3ac9f751a2da0c5ecd7cf1aa07871570f31de?placeholderIfAbsent=true"
          alt="Logo"
          class="w-7 object-contain hover:opacity-80 transition-opacity"
        />
        <div
          class="text-[rgba(23,44,65,1)] hover:text-[rgba(45,204,112,1)] transition-colors"
        >
          <div class="bg-[rgba(45,204,112,1)] h-1 rounded-[100px]"></div>
          <div class="">Matches</div>
        </div>
        <div class="hover:text-[rgba(45,204,112,1)] transition-colors">
          Live Score
        </div>
        <div class="hover:text-[rgba(45,204,112,1)] transition-colors">
          Statistics
        </div>
        <div class="hover:text-[rgba(45,204,112,1)] transition-colors">
          Analytics
        </div>
      </nav>
    </div>

    <!-- Search Section -->
    <div
      class="w-[43%] ml-5 max-md:w-full max-md:ml-0 flex justify-center items-center"
    >
      <div
        class="flex items-center gap-4 bg-white border rounded-[100px] px-8 py-3 border-[rgba(226,230,232,1)] hover:shadow-lg transition-shadow w-full max-w-[500px]"
      >
        <input
          type="text"
          placeholder="Search Matches, Players, Stats ..."
          class="border-0 focus-visible:ring-0 text-sm text-gray-500 w-full focus:outline-none"
        />
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/7f7ac298a3872970b844292b9284d875a9edb278d8a081fd195bb4bd144c1fdd?placeholderIfAbsent=true"
          alt="Search"
          class="w-6 object-contain hover:opacity-80 transition-opacity"
        />
      </div>
    </div>
    <app-profile-button></app-profile-button>
</div>
  </header>  