
<section class="bg-white rounded-[5px] p-[34px]">
    <div class="flex justify-between items-center">
      <h2 class="text-[rgba(23,44,65,1)] text-lg font-medium">
        Trending Now
      </h2>
      <div class="flex gap-1">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/76a57d0c2f2a8d5ee6213f1863caa3f8e4a327ecd6040a1eca7edee6a5f0680d?placeholderIfAbsent=true"
          alt="Previous"
          class="w-[13px]"
        />
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/7efa3c5354ea3a1898bb9ce4db2b1773a3c0975edfead21185e0df549a8a474b?placeholderIfAbsent=true"
          alt="Next"
          class="w-[13px]"
        />
      </div>
    </div>
  
    <div class="flex flex-col items-center mt-[39px]">
      <img
        [src]="trending.image"
        [alt]="trending.firstName"
        class="w-[81px] rounded-full"
      />
      <h3 class="text-[rgba(74,88,96,1)] text-xl font-medium mt-[18px]">
        {{trending.firstName}}
      </h3>
  
      <div class="flex items-center gap-1.5 text-[15px] text-[rgba(149,159,168,1)] mt-[7px]">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/774778f7f8c3f7b93ee04b9b2cf2d6ce1f73ba879f05e5fa2adf4a01f9f672b3?placeholderIfAbsent=true"
          alt="Goals"
          class="w-[19px]"
        />
        <span>{{trending.stats[0].goals+ trending.stats[0].assists}} G/A</span>
      </div>
  
      <button (click)="navigateto(trending.id)" class="border border-[rgba(242,245,247,1)] text-[13px] text-[rgba(45,204,112,1)] mt-[25px] px-[37px] py-[9px] rounded-[100px]">
        View Profile
      </button>
    </div>
  </section>