<section class="bg-[rgba(0,115,48,1)] rounded-[5px] overflow-hidden">
    <div class="flex max-md:flex-col">
      <div class="w-[40%] p-10 max-md:w-full">
        <div class="text-white">
          <h2 class="text-[33px] font-black">
            Weekly Football Challenge
          </h2>
  
          <div class="flex items-center gap-3.5 text-[13px] mt-[21px]">
            <img
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/3e737f8e4eb307ac96d19b8957bbcf715c929c89a85dcbeb7970c0cb563184be?placeholderIfAbsent=true"
              alt="Team 1"
              class="w-[43px] rounded-full"
            />
            <span>VS</span>
            <img
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/cff5e6d6a2340e5f5a7e839c801877d4a2d5e1404aedd34474077060c368c422?placeholderIfAbsent=true"
              alt="Team 2"
              class="w-[43px] rounded-full"
            />
          </div>
  
          <div class="flex items-stretch gap-[30px] text-[17px] font-medium mt-[21px]">
            <div>
              <div class="flex items-center gap-3">
                <img
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/15d09842d77ffc917ac6be6627f0a40b3982fefb62b2de34d367243ef67f2f5f?placeholderIfAbsent=true"
                  alt="Clock"
                  class="w-6"
                />
                <span>5:00 PM</span>
              </div>
              <img
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/75e76413-8b93-41fb-b8cb-39a8ff382ab4?placeholderIfAbsent=true"
                alt="Time indicator"
                class="w-[78px] mt-4"
              />
            </div>
            <div class="flex items-center gap-3">
              <img
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/fb90ec83b05848351d015d39fffd85ef094402bc9dc27feab189cc42db75a82e?placeholderIfAbsent=true"
                alt="Location"
                class="w-6"
              />
              <span>London</span>
            </div>
          </div>
        </div>
      </div>
  
      <div class="w-[60%] bg-[rgba(0,123,52,1)] rounded-[1000px_5px_5px_0px] flex items-end justify-center pb-[30px] px-[70px] max-md:w-full">
        <button class="bg-white text-[rgba(0,115,48,1)] font-medium w-full flex items-center justify-center gap-2 px-9 py-[11px] rounded-[100px]">
          <span>Join Now</span>
          <img
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/abdbc197133d59a6db409e8b14129695b82c9837d86432bc70a2b319da4a8ef2?placeholderIfAbsent=true"
            alt="Arrow"
            class="w-6"
          />
        </button>
      </div>
    </div>
  </section>